/* navigation */

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-size: 1em;
    border-top: 2px solid #444;
}

header nav .nav-right a{
    color: #444;
    padding: 5px 10px;
    margin: 0px 5px;
    font-size: 1.2em;
}

header nav .nav-left .register-login-btn{
    border: 1px solid #444;
    padding: 5px 8px;
    right: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444;
}

header nav .nav-left .register-login-btn a{
    margin-right: 8px;
    color: #444;
    font-size: 1.1em;
}

/* slider */

.slider{
    position: relative;
}

.slider .slides .item img{
    width: 100%;
}

.slider .slides .item{
    display: none;
}

.slider .slides .active{
    display: block;
}

.slider .slide-btns{
    position: absolute;
    bottom: 20px;
    left: 40px;
    z-index: 1;

}

.slider .slide-btns i{
    margin-right: 5px;
    cursor: pointer;
    font-size: .9em;
    color: rgba(0, 0, 0, 0.5);
}

.slider .slide-btns i:hover{
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.7);
    transition: font-size ease-in .2s;
}

.slider .slide-btns i:active{
    font-size: .8em;
    color: rgba(0, 0, 0, 0.7);
}

/* product section */

.commodity{
    padding: 20px 10px;
    text-align: center;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.6);
    margin: 10px 15px;
    border-radius: 5px;
    transition: .5s;
}

.commodity:hover{
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.6);
}

.commodity .image-sec img{
    width: 60%;
}

.commodity .image-sec{
    position: relative;
}

.commodity .image-sec .offer{
    background-color: #EA2027;
    color: white;
    padding: 3px 5px;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: .9em;
}

.commodity .image-sec .stars{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #FFC312;
}

.commodity .text-sec{
    color: black;
    margin: 15px;
    text-align: center;
    text-overflow: ellipsis;
}

.commodity .btn-sec .right .price{
    color: #444;
    font-size: 1.1em;
    font-weight: bold;
}

.commodity .btn-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

.commodity .btn-sec .left{
    display: flex;
}

.commodity .btn-sec .left .extend-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    background-color: #009432;
    padding: 5px;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    transition: width .3s linear;
}

.commodity .btn-sec .left .extend-btn:hover{
    width: 80.55px;
    cursor: pointer;
}

.commodity .btn-sec .left .extend-btn:hover .btn-left-card{
    display: block;   
}

.commodity .btn-sec .left .extend-btn i{
    color: white;
    left: 0px;
}

.commodity .btn-sec .left .extend-btn .btn-left-card{
    color: white;
    margin-left: 5px;
    display: none ;
}

/* supper offer */

.supper-offer-section{
    padding: 20px;
    font-size: 1em;
}

.supper-offer-section .supper-offer-box{
    text-align: center;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .3);
    border-radius: 5px;
    margin: 0px 10px;
}

.supper-offer-box .supper-offer-box-title{
    background-color: #e74c3c;
    color: white;
    padding: 8px 30px;
    display: inline-block;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

.supper-offer-box .body{

}

.supper-offer-box .body .image-container{
    text-align: center;
    padding: 30px;
}

.supper-offer-box .body .image-container img{
    width: 300px;
}

.supper-offer-box .body .spesification{
    padding: 30px 5px;
    align-self: center;
    justify-self: center;
}

.supper-offer-box .body .spesification .price-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.supper-offer-box .body .spesification .price-row .price{
    margin-left: 60px;
    color: #444;
    font-size: 1.2em;
}

.supper-offer-box .body .spesification .price-row .off{
    color: white;
    background-color: #e74c3c;
    padding: 5px 20px;
    border-radius: 25px;

}


.supper-offer-box .body .spesification .title{
    margin:40px 0px;
    font-weight: bold;
    color: #444;
    font-size: 1.4em;
}

.supper-offer-box .body .spesification .counter-down{
    border-top: 1px solid rgba(0, 0, 0, .4);
    margin:10px 40px;
    padding-top: 20px;
    font-weight: bold;
    color: #666;
    font-size: 1.5em;
}

.supper-offer-box .body .spesification .remaining-time{
    color: #777;
    font-size: 1.2em;
}

/* banner*/

.banner{
    text-align: center;
    padding: 0px 5px;
}
.banner img{
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .2);
    width: 80%;
    height: 409.5px;
}

.dragable-list img{
    width: 70% !important;
    margin: auto;
}

.dragable-list .title{
    padding: 0px 20px 15px 0px ;
    text-align: center;
}

.dragable-list .title span{
    font-size: 1.5em;
    border-radius: 5px;
    border-bottom: 1px solid #333;
    padding: 10px 15px;
    color: #333;

}

/* footer */

footer{

}

footer .row{
    background-color: #444;
}

footer .right{
    color: white;
    padding: 60px 30px 40px 0px;
}

footer .right .title{
    font-size: 1.4em;
    margin-bottom: 20px;
}

footer .right .des{
    font-size: 1.1em;
    margin-left: 50px;
}

footer .left{
padding-top: 60px;
}

footer .left .title{
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 15px;
    color: white;
}

footer .left .socials{
    text-align: center;
}

footer .left .socials a i{
    color: white;
    font-size: 1.5em;
    margin: 5px 25px;
}

footer .bottom{
    font-size: 1.2em;
    color: white;
    background-color: #222;
    text-align: center;
    padding: 10px 0px;
}